body {
    font-family: Arial, sans-serif;
    /* background-color: #f0f0f0; */
    background-color: #222222;
    padding: 20px;
    color: #DEE4E7;
  }

  #temperature-data, #windspeed-data {
  color: lightcoral;
  font-weight: bold;
  }

  #message {
    font-style: oblique;
  }

  #weather-container {
    /* background-color: #fff; */
    background-color: #37474F;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  a {
    display: block;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
    color: #0066cc;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .parent {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
  
  .children-1 {
    width: 50%;
  }
  
  .children-2 {
    width: 50%;
    /* overflow-y: hidden; */
  }

  /* For the hyperlinks */

  a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}