body {
  font-family: Arial, sans-serif;
  /* background-color: #f0f0f0; */
  background-color: #222222;
  padding: 20px;
  color: #DEE4E7;
  /* toggle theme */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* toggle theme */
.light-theme {
  background-color: white;
  color: black;
}

.dark-theme {
  background-color: black;
  color: white;
}

#fun-fact {
  color: grey;
}

hr {
  border: none;
  background-color: #333;
  height: 2px;
  width: 50%;
  margin: 20px auto;
}

#temperature-data,
#windspeed-data {
  color: lightcoral;
  font-weight: bold;
}

#message {
  font-style: oblique;
}

#weather-container {
  /* background-color: #fff; */
  /* background-color: #37474F; */
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

h1 {
  margin-bottom: 20px;
}

a {
  display: block;
  margin: 10px 0;
  text-align: center;
  text-decoration: none;
  color: #0066cc;
}

a:hover {
  text-decoration: underline;
}

.parent {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.children-1 {
  width: 50%;
  text-align: center;
}


.main-page-icon {
  font-size: 250%;
}

.children-2 {
  width: 50%;
  text-align: center;
  /* overflow-y: hidden; */
}

/* For the hyperlinks */

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

/* chart */

#chart-container {
  width: 80%;
  margin: 20px auto;
  background-color: #9490cb;
}

#time-toggle {
  text-align: right;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.time-button {
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
}



/* animated */
body {
  margin: 0;
  padding: 0;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #24C6DC; 
  background: -webkit-linear-gradient(to bottom, #514A9D, grey);  
  background: linear-gradient(to bottom, #514A9D, black); 
}

.box div {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 6px solid rgba(255,255,255,0.8);
}

.box div:nth-child(1) {
  top: 12%;
  left: 42%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
}
.box div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
}

.box div:nth-child(4) {
  top: 20%;
  left: 60%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(5) {
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}

.box div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}

.box div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}

.box div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
}

.box div:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}

.box div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(-90px) rotate(360deg);
    opacity: 1;
  }
  
  100% {
    transform: scale(1.3) translateY(-90px) rotate(-180deg);
    border-radius: 50%;
    opacity: 0;
  }
}